.table_report>tbody>tr>td, .table_report>tbody>tr>th, .table_report>tfoot>tr>td, .table_report>tfoot>tr>th, .table_report>thead>tr>td, .table_report>thead>tr>th {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid black;
	font-size:12px;
	
}
.table_report{
	border: 1px solid black;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}


@media print {
	.table_report>tbody>tr>td, .table_report>tbody>tr>th, .table_report>tfoot>tr>td, .table_report>tfoot>tr>th, .table_report>thead>tr>td, .table_report>thead>tr>th {
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid black;
		font-size:12px;
	}
	.table_report{
		border: 1px solid black;
	}
	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	
}